<!--banner-starts-->

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag image_url("bnr-1.jpg"), alt: t(".slide1") %>
      </div>

      <div class="item">
        <%= image_tag image_url("bnr-2.jpg"), alt: t(".slide2") %>
      </div>

      <div class="item">
        <%= image_tag image_url("bnr-3.jpg"), alt: t(".slide3") %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon"><%= image_tag image_url("prev.png"), alt: t(".previous") %></span>
      <span class="sr-only"><%= t ".previous" %></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon"><%= image_tag image_url("next.png"), alt: t(".next") %></span>
      <span class="sr-only"><%= t ".next" %></span>
    </a>
  </div>
</div>

<!--banner-ends-->
<!--about-starts-->
<div class="about">
  <div class="container">
    <div class="about-top grid-1">
      <div class="col-md-4 about-left">
        <figure class="effect-bubba">
          <%= image_tag "abt-1.jpg", alt: "abt-1.jpg", class: "img-responsive" %>
          <figcaption>
            <h2><%= t ".content1" %></h2>
            <p><%= t ".content2" %></p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 about-left">
        <figure class="effect-bubba">
          <%= image_tag "abt-2.jpg", alt: "abt-2.jpg", class: "img-responsive" %>
          <figcaption>
            <h4><%= t ".content1" %></h4>
            <p><%= t ".content2" %></p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 about-left">
        <figure class="effect-bubba">
          <%= image_tag "abt-3.jpg", alt: "abt-3.jpg", class: "img-responsive" %>
          <figcaption>
            <h4><%= t ".content1" %></h4>
            <p><%= t ".content2" %></p>
          </figcaption>
        </figure>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--about-end-->
<!--product-starts-->
<!--product-end-->
