<!--banner-starts-->
<div class="bnr" id="home">
  <div  id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
      <li>
        <%= image_tag "bnr-1.jpg", alt: "slide1" %>
      </li>
      <li>
        <%= image_tag "bnr-2.jpg", alt: "slide2" %>
      </li>
      <li>
        <%= image_tag "bnr-3.jpg", alt: "slide2" %>
      </li>
    </ul>
  </div>
  <div class="clearfix"> </div>
</div>
<!--banner-ends-->
<!--about-starts-->
<div class="about">
  <div class="container">
    <div class="about-top grid-1">
      <div class="col-md-4 about-left">
        <figure class="effect-bubba">
          <%= image_tag "abt-1.jpg", alt: "abt-1.jpg", class: "img-responsive" %>
          <figcaption>
            <h2><%= t ".content1" %></h2>
            <p><%= t ".content2" %></p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 about-left">
        <figure class="effect-bubba">
          <%= image_tag "abt-2.jpg", alt: "abt-2.jpg", class: "img-responsive" %>
          <figcaption>
            <h4><%= t ".content1" %></h4>
            <p><%= t ".content2" %></p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 about-left">
        <figure class="effect-bubba">
          <%= image_tag "abt-3.jpg", alt: "abt-3.jpg", class: "img-responsive" %>
          <figcaption>
            <h4><%= t ".content1" %></h4>
            <p><%= t ".content2" %></p>
          </figcaption>
        </figure>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--about-end-->
<!--product-starts-->
<!--product-end-->
