<% provide :title, t(".title") %>
<% provide :table, t(".list_order") %>

<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header"><i class="fa fa-table"></i> <%= yield(:table) %></div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="add_pd">
          <div class="search-bar">
            <%= form_tag admin_order_products_path, method: :get do %>
              <%= text_field_tag :search, params[:search], placeholder: t(".search") %>
            <% end %>
          </div>
        </div>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="row_custom header">
              <th class="cell_custom"><%= t "view.id" %></th>
              <th class="cell_custom"><%= t "view.name" %></th>
              <th class="cell_custom"><%= t "view.address" %></th>
              <th class="cell_custom"><%= t "view.email" %></th>
              <th class="cell_custom"><%= t "view.phone" %></th>
              <th class="cell_custom"><%= t "view.create_at" %></th>
              <th class="cell_custom"><%= t "view.total" %></th>
              <th class="cell_custom"><%= t "view.status" %></th>
              <th class="cell_custom"><%= t "view.action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "orders", collection: @order_products, as: :order %>
          </tbody>
        </table>
        <div class="pag">
          <%= will_paginate %>
        </div>
      </div>
    </div>
  </div>
</div>
