<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header"><i class="fa fa-table"></i> <%= yield(:table) %></div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="row_custom header">
              <th class="cell_custom"><%= t ".id" %></th>
              <th class="cell_custom"><%= t ".image" %></th>
              <th class="cell_custom"><%= t ".name" %></th>
              <th class="cell_custom"><%= t ".quantity" %></th>
              <th class="cell_custom"><%= t ".price" %></th>
              <th class="cell_custom"><%= t ".price_total" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "detail", collection: @line_items, as: :item %>
          </tbody>
        </table>
        <h5><%= t ".order_number" %>:&ensp;<%= @order.id %></h5>
        <h5><%= t ".order_status" %>:&ensp;<%= @order.status %></h5>
        <% if @order.status == "in_progress" %>
          <%= form_tag admin_order_product_path(@order), method: :put, class: "ship-reject-form" do %>
            <%= hidden_field_tag :status, "approved" %>
            <%= submit_tag "accept", class: "btn btn-success" %>
          <% end %>
          <%= form_tag admin_order_product_path(@order), method: :put,
            class: "ship-reject-form" do %>
            <%= hidden_field_tag :status, "cancelled" %>
            <%= submit_tag "cancel", class: "btn btn-danger" %>
          <% end %>
        <% else %>
          <%= button_tag t(".cancel_order"), type: :button, class: "btn btn-primary", disabled: true %>
          <%= button_tag t(".accept"), type: :button, class: "btn btn-primary", disabled: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
