<<<<<<< f54655364e746c5060c571d24ff0f2b94c5c5b86
<%= form_for(@products, url: yield(:url)) do |f| %>

=======
<%= form_for(@products, url: yield(:url), :html => {class: "form-horizontal"}) do |f| %>
  <fieldset>
    <legend><%= yield(:title) %></legend>
    <div class="form-group">
    <div class="col-md-4 control-label"></div>
    <div class="col-md-4">
>>>>>>> finish manager table
    <%= render "shared/error_messages", object: f.object %>
    <% if yield(:is_edit?) == "true" %>
      <div class="edit_form_image">
        <%= show_image_for @products %>
      </div>
    <% end %>
<<<<<<< f54655364e746c5060c571d24ff0f2b94c5c5b86

      <%= f.label :image %>
      <%= f.file_field :image  %>
      <br>
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: "form-control", placeholder: "Name" %>

      <%= f.label :description %>
      <%= f.text_field :description, required: true, class: "form-control", placeholder: "Description" %>

      <%= f.label :price %>
      <%= f.number_field :price, required: true, class: "form-control", placeholder: "Price" %>

      <%= f.label :quantity %>
      <%= f.number_field :quantity, required: true, class: "form-control", placeholder: "Quantity" %>

      <%= f.label :size %>
      <%= f.text_field :size, required: true, class: "form-control", placeholder: "Size" %>

      <%= f.label :category_id %>
      <%= f.collection_select :category_id, @categories, :id, :name, {promt: t(".choose_cate")} %>
      <br>
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>

=======
    </div>
    </div>
    <div class="form-group">
      <%= f.label :image, class: "col-md-4 control-label", for: "textinput" %>
      <div class="col-md-4">
        <%= f.file_field :image  %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name, class: "col-md-4 control-label", for: "textinput" %>
      <div class="col-md-4">
        <%= f.text_field :name, required: true, class: "form-control input-md", placeholder: "Name", autofocus: true  %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "col-md-4 control-label", for: "textinput" %>
      <div class="col-md-4">
        <%= f.text_field :description, required: true, class: "form-control input-md", placeholder: "Description" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :price, class: "col-md-4 control-label", for: "textinput" %>
      <div class="col-md-4">
        <%= f.number_field :price, required: true, class: "form-control input-md", placeholder: "Price" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :quantity, class: "col-md-4 control-label", for: "textinput" %>
      <div class="col-md-4">
        <%= f.number_field :quantity, required: true, class: "form-control input-md", placeholder: "Quantity" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :size, class: "col-md-4 control-label", for: "textinput" %>
      <div class="col-md-4">
        <%= f.text_field :size, required: true, class: "form-control input-md", placeholder: "Size" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :category_id, class: "col-md-4 control-label", for: "textinput" %>
      <div class="col-md-4">
       <%= f.collection_select :category_id, @categories, :id, :name, {promt: t(".choose_cate")} %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebuttonsubmit"></label>
      <div class="col-md-4">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
>>>>>>> finish manager table
<% end %>
