<% provide :title, t(".title") %>
<<<<<<< f54655364e746c5060c571d24ff0f2b94c5c5b86
<% provide :table, t(".table_product") %>
<% provide :add, t(".add_product") %>

<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header"><i class="fa fa-table"></i> <%= yield(:table) %></div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="add_pd">
          <%= link_to yield(:add), new_admin_product_path, class: "btn btn-primary" %>
          <div class="search-bar">
            <%= form_tag admin_products_path, method: :get do %>
            <%= text_field_tag :search, params[:search], placeholder: t(".search") %>
            <% end %>
          </div>
        </div>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="row_custom header">
              <th class="cell_custom"><%= t "view.id" %></th>
              <th class="cell_custom"><%= t "view.image" %></th>
              <th class="cell_custom"><%= t "view.name" %></th>
              <th class="cell_custom"><%= t "view.description" %></th>
              <th class="cell_custom"><%= t "view.price" %></th>
              <th class="cell_custom"><%= t "view.size" %></th>
              <th class="cell_custom"><%= t "view.quantity" %></th>
              <th class="cell_custom"><%= t "view.discount" %></th>
              <th class="cell_custom"><%= t "view.category" %></th>
              <th colspan="2", class="cell_custom"><%= t "view.action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render "products" %>
          </tbody>
        </table>
        <div class="pag">
          <%= will_paginate %>
        </div>
      </div>
    </div>
  </div>
=======

<div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t ".table_product" %>
    </div>
    <div class="col-md-4">
      <div class="add_pd">
        <%= link_to t("add_product"), new_admin_product_path, class: "btn btn-primary" %>
      </div>
    </div>
   <div>
    <table class="table" ui-jq="footable" ui-options='{
        "paging": {
        "enabled": true
      },
      "filtering": {
      "enabled": true
      },
      "sorting": {
      "enabled": true
      }}'>
      <thead>
        <tr>
          <th class="cell_custom"><%= t "view.id" %></th>
          <th class="cell_custom"><%= t "view.image" %></th>
          <th class="cell_custom"><%= t "view.name" %></th>
          <th class="cell_custom"><%= t "view.description" %></th>
          <th class="cell_custom"><%= t "view.price" %></th>
          <th class="cell_custom"><%= t "view.size" %></th>
          <th class="cell_custom"><%= t "view.quantity" %></th>
          <th class="cell_custom"><%= t "view.discount" %></th>
          <th class="cell_custom"><%= t "view.category" %></th>
          <th colspan="2", class="cell_custom"><%= t "view.action" %></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |p| %>
        <tr>
          <td class="cell_custom"><%= p.id %></td>
          <td class="cell_custom"><%= image_tag(p.image) %></td>
          <td class="cell_custom"><%= p.name %></td>
          <td class="cell_custom"><%= p.description %></td>
          <td class="cell_custom"><%= p.price %></td>
          <td class="cell_custom"><%= p.size %></td>
          <td class="cell_custom"><%= p.quantity %></td>
          <td class="cell_custom"><%= p.discount %></td>
          <td class="cell_custom"><%= p.category.name %></td>
          <td><%= link_to t("view.edit"),
            edit_admin_product_path(p), class: "btn btn-success"%>
          </td>
          <td><%= link_to t("view.delete"),
            [:admin, p], method: :delete, class: "btn btn-danger",
            data: {confirm: t(".sure?")} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>

<div class="pag">
  <%= will_paginate %>
</div>

>>>>>>> finish manager table
</div>
