<div class="market-updates">
  <div class="col-md-3 market-update-gd">
    <div class="market-update-block clr-block-2">
      <h4><%= t ".views" %></h4>
      <h3><%= t ".num1" %></h3>
      <p><%= t ".month" %></p>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="col-md-3 market-update-gd">
    <div class="market-update-block clr-block-1">
      <h4><%= t ".users" %></h4>
      <h3><%= t ".num2" %></h3>
      <p><%= t ".month" %></p>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="col-md-3 market-update-gd">
    <div class="market-update-block clr-block-3">
      <h4><%= t ".products" %></h4>
      <h3><%= t ".num3" %></h3>
      <p><%= t ".month" %></p>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="col-md-3 market-update-gd">
    <div class="market-update-block clr-block-4">
      <h4><%= t ".oders" %></h4>
      <h3><%= t ".num3" %></h3>
      <p><%= t ".month" %></p>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!-- //market-->
