<div id="sidebar" class="nav-collapse">
  <!-- sidebar menu start-->
  <div class="leftside-navigation">
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <%= link_to t(".dashboard"), "#" %>
      </li>
      <li>
        <%= link_to t(".users"), "#" %>
      </li>
      <li>
        <%= link_to t(".categories"), "#" %>
      </li>
      <li class="sub-menu">
        <%= link_to t(".products"), "#" %>
      </li>
      <li>
        <%= link_to t(".pays"), "#" %>
      </li>
      <li>
        <%= link_to t(".oders"), "#" %>
      </li>
      <li class="sub-menu">
        <%= link_to t(".request"), "#" %>
      </li>
    </ul>
  </div>
  <!-- sidebar menu end-->
</div>
<section id="main-content">
  <section class="wrapper">
    <div class="market-updates">
      <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-2">
          <h4><%= t ".views" %></h4>
          <h3><%= t ".num1" %></h3>
          <p><%= t ".month" %></p>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-1">
          <h4><%= t ".users" %></h4>
          <h3><%= t ".num2" %></h3>
          <p><%= t ".month" %></p>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-3">
          <h4><%= t ".products" %></h4>
          <h3><%= t ".num3" %></h3>
          <p><%= t ".month" %></p>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-4">
          <h4><%= t ".oders" %></h4>
          <h3><%= t ".num3" %></h3>
          <p><%= t ".month" %></p>
          <div class="clearfix"> </div>
        </div>
      </div>
       <div class="clearfix"> </div>
    </div>
    <!-- //market-->
  </section>
</section>

